    body {
        background-color: #e2cff2;
        max-width: 70%;
        height: 400px;
        padding: 25px;
        margin: 25px auto;
        border: 3px solid black;
    }

    .container {
        max-width: 100%;
        background-color: #3fe2ff;
        height: 200px;
        padding: 10px;
    }